<h1>Dojo Secrets</h1>
<table>
  <tr>
    <th>Content</th>
    <th>Likes</th>
    <th>Actions</th>
  </tr>

  <% @secrets.each do |s| %>
    <tr>
      <td><%= s.content %></td>
      <td><%= pluralize(s.likes.count, 'like') %></td>
      <td>
        <% if session[:user_id] == s.user_id %>
          <%= button_to 'Delete Secret', secret_path(s), method: :delete %>
        <% end %>

        <% if s.likes.where(user_id: session[:user_id]).count == 0 %>
          <form action="/likes" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="secret[secret_id]" value="<%= s.id %>">
            <button type="submit" name="Like">Like</button>
          </form>
        <% else %>
          <form action="/likes/<%= s.likes.find_by(user_id: session[:user_id]).id %>" method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="secret[secret_id]" value="<%= s.id %>">
            <button type="submit" name="Unlike">Unlike</button>
          </form>
        <% end %>

      </td>
    </tr>
  <% end %>
</table>
